@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #91D996 5%, #04BF55);
}

main {
    background-color: #f2a74bcb;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7450248f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #f20f8cb7;
    text-align: center;
    text-shadow: 1px 1px 0px #af0b6577;
    ;
}

h2 {
    color: #f20f8cb7;
}

p {
    text-align: justify;
    color: #04688f;
}